.noDisplay {
    visibility: hidden;
}

.SliderPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 10rem;
    position: relative;
    

    .arrowLeft {
        position: absolute;
        top: 70%;
        right: 90%;
        transform: rotate(180deg);
        opacity: 50%;
    }

    .arrowRight {
        position: absolute;
        top: 70%;
        left: 90%;
        opacity: 50%;
    }

    .slideContainer {
        margin-top: 3.2rem;
        width: 100%;
        overflow: hidden;
        align-content: center;
        scroll-behavior: smooth;

        .slide {
            display: flex;
            justify-content: center;
            gap: 2.4rem;
            width: 180rem;

        
            .cards {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                height: 45rem;
    
                img {
                    width: 34.8rem;
                    height: 24.7rem;
                }
    
                .innerContainer {
                    display: flex;
                    flex-wrap: wrap;

                    margin-top: 3rem;
    
                    width: 27.1rem;
                    height: 14.2rem;
    
                    h2 {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 2.4rem;
                        color: var(--title-color);
                    }
                    span {
                        font-family: 'Mulish', sans-serif;
                        font-size: 1.6rem;
                        color: var(--text-color);
                    }
                }
            }
        }
    }
}

:target {
    scroll-margin: 20rem;
}