.titles {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 51rem;

    margin-top: 4.4rem;

    span {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.2rem;

        margin-bottom: 1.6rem;

        color: var(--title-color);
    }

    p {
        font-family: 'Mulish', sans-serif;
        font-size: 1.6rem;

        color: var(--text-color);
        text-align: center;
    }
}